{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PcToMovil</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <div class="container">
        <h1>PcToMovil</h1>
    
        <h2 class="btn-ip-server">URL Server: {{ip_server}}:5000</h2>
        <div id="contenedor-qr">
            <img id="qr-server" src="{% static 'codigo_qr.png' %}" alt="">
        </div>
        
        <h2 class="btn-dir-archivos">Abrir carpeta de archivos</h2>
    
    
        <h2 class="btn-cerrar-server">Cerrar Server</h2>
    </div>
    
    <div class="container">
        
    </div>
        

    <script src="{% static 'scripts/server.js' %}"></script>
</body>
</html>